.ResumesBox{
    width:100%;
    height:100%;
    padding:10px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ResumesBox > dl{
    width:24%;
    height:430px;
    border:1px solid #ccc;
    display: flex;
    flex-direction: column;
}
.ResumesBox > dl dt{
    width:100%;
    height:90%;
}
.pics img{
    width:100%;
    height:90%;
    display: block;
}
.ResumesBox > dl dd{
    height:10%;
    border-top:1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}